In [1]:
import pandas as pd

In [2]:
file_path_lib = "../Data Source/library_df.csv"

# Read the mouse data and the study results
library_data = pd.read_csv(file_path_lib)
library_data.head()

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,County Population,Print_Collection_Expenditures,Digital_Collection_Expenditures,Total Collection Expenditures,Total Operating Expenditures,Print Collection,Digital Collection,Audio Collection,Library Visits,Registered Users
0,AK,AK0001,2015,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,99556,-151.840007,59.779604,2,...,57477,3021.0,0.0,4030.0,21282.0,16843.0,0.0,258.0,5379.0,396.0
1,AK,AK0002,2015,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503,-149.876781,61.187677,2,...,301010,700747.0,198422.0,1152280.0,10910542.0,481861.0,9773.0,28552.0,942873.0,119619.0
2,AK,AK0003,2015,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,99744,-149.178635,64.343598,2,...,1921,2206.0,425.0,3508.0,11449.0,15304.0,0.0,48.0,874.0,161.0
3,AK,AK0006,2015,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,99559,-161.802957,60.785755,2,...,17868,8295.0,1635.0,14801.0,261212.0,34115.0,165.0,434.0,44980.0,1500.0
4,AK,AK0007,2015,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652,-149.818403,61.546612,2,...,97882,21552.0,0.0,21552.0,347675.0,23810.0,9773.0,1813.0,43285.0,3878.0

In [3]:
file_path_census = "../Census Data/census15.csv"

# Read the mouse data and the study results
census_data = pd.read_csv(file_path_census)
census_data.head()

,Name,median_household_income,total_population,median_age,per_capita,education_none,education_high_school,education_ged,education_associates,education_bachelors,...,zipcode,year,education_none_perc,education_high_school_perc,education_ged_perc,education_associates_perc,education_bachelors_perc,education_masters_perc,education_professional_perc,education_doctorate_perc
0,ZCTA5 12810,724.0,57500.0,46.5,25551.0,17.0,169.0,66.0,48.0,28.0,...,12810,2015,0.029565,0.293913,0.114783,0.083478,0.048696,0.033043,0.000000,0.000000
1,ZCTA5 12812,58.0,49583.0,64.1,23600.0,0.0,20.0,0.0,1.0,10.0,...,12812,2015,0.000000,0.040336,0.000000,0.002017,0.020168,0.004034,0.000000,0.000000
2,ZCTA5 12814,1282.0,58176.0,46.4,35508.0,0.0,269.0,15.0,66.0,305.0,...,12814,2015,0.000000,0.462390,0.025784,0.113449,0.524271,0.173611,0.010314,0.010314
3,ZCTA5 12815,1103.0,60458.0,54.2,30685.0,8.0,215.0,44.0,110.0,116.0,...,12815,2015,0.013232,0.355619,0.072778,0.181944,0.191869,0.172020,0.014886,0.000000
4,ZCTA5 12816,4417.0,50417.0,46.9,26988.0,20.0,946.0,145.0,300.0,524.0,...,12816,2015,0.039669,1.876351,0.287601,0.595037,1.039332,0.755697,0.138842,0.087272

In [12]:
#merge data
df=pd.merge(library_data, census_data, left_on="Zip Code", right_on="zipcode",how= "left")
df

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,zipcode,year,education_none_perc,education_high_school_perc,education_ged_perc,education_associates_perc,education_bachelors_perc,education_masters_perc,education_professional_perc,education_doctorate_perc
0,AK,AK0001,2015,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,99556,-151.840007,59.779604,2,...,99556.0,2015.0,0.065051,1.210417,0.250912,0.325256,0.511117,0.153335,0.037172,0.011616
1,AK,AK0002,2015,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503,-149.876781,61.187677,2,...,99503.0,2015.0,0.472031,5.205152,1.183280,1.371238,2.588693,1.059399,0.395139,0.049125
2,AK,AK0003,2015,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,99744,-149.178635,64.343598,2,...,99744.0,2015.0,0.000000,0.022803,0.011401,0.019382,0.026223,0.017102,0.000000,0.000000
3,AK,AK0006,2015,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,99559,-161.802957,60.785755,2,...,99559.0,2015.0,0.033158,1.977038,0.451776,0.248684,0.772302,0.285987,0.095329,0.058026
4,AK,AK0007,2015,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652,-149.818403,61.546612,2,...,99652.0,2015.0,0.007282,1.117082,0.221377,0.273809,0.471884,0.122340,0.045149,0.007282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9236,WY,WY0019,2015,SUBLETTE COUNTY LIBRARY,155 S TYLER ST,PINEDALE,82941,-109.861281,42.865097,56,...,82941.0,2015.0,0.000000,1.114130,0.103034,0.429121,0.617074,0.235507,0.030571,0.000000
9237,WY,WY0020,2015,TETON COUNTY LIBRARY,125 VIRGINIAN LANE,JACKSON,83001,-110.779203,43.471780,56,...,83001.0,2015.0,0.049372,3.006325,0.517734,0.641830,5.941928,1.885458,0.360279,0.230845
9238,WY,WY0021,2015,UINTA COUNTY LIBRARY,701 MAIN ST,EVANSTON,82930,-110.963405,41.265975,56,...,82930.0,2015.0,0.035921,4.862555,0.949068,1.266684,2.384013,0.661701,0.260899,0.060498
9239,WY,WY0022,2015,WASHAKIE COUNTY LIBRARY,1019 COBURN AVE,WORLAND,82401,-107.955461,44.015771,56,...,82401.0,2015.0,0.087723,2.882326,0.474122,1.063119,1.591545,0.530515,0.139939,0.000000
9240,WY,WY0023,2015,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,82701,-104.202302,43.855671,56,...,82701.0,2015.0,0.065090,1.775512,0.339915,0.600275,0.857019,0.249512,0.032545,0.003616

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9241 entries, 0 to 9240
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   State                            9241 non-null   object
 1   Library ID                       9241 non-null   object
 2   Submission Year                  9241 non-null   int64
 3   Library Name                     9241 non-null   object
 4   Street Address                   9241 non-null   object
 5   City                             9241 non-null   object
 6   Zip Code                         9241 non-null   int64
 7   Longitude                        9241 non-null   float64
 8   Latitude                         9241 non-null   float64
 9   State Code                       9241 non-null   int64
 10  County Code                      9241 non-null   int64
 11  County                           9241 non-null   object
 12  County Population                9241 non-null   int64
 13  Print_Collection_Expenditures    9241 non-null   float64
 14  Digital_Collection_Expenditures  9241 non-null   float64
 15  Total Collection Expenditures    9241 non-null   float64
 16  Total Operating Expenditures     9241 non-null   float64
 17  Print Collection                 9241 non-null   float64
 18  Digital Collection               9241 non-null   float64
 19  Audio Collection                 9241 non-null   float64
 20  Library Visits                   9241 non-null   float64
 21  Registered Users                 9241 non-null   float64
 22  Name                             9171 non-null   object
 23  median_household_income          9171 non-null   float64
 24  total_population                 9171 non-null   float64
 25  median_age                       9171 non-null   float64
 26  per_capita                       9171 non-null   float64
 27  education_none                   9171 non-null   float64
 28  education_high_school            9171 non-null   float64
 29  education_ged                    9171 non-null   float64
 30  education_associates             9171 non-null   float64
 31  education_bachelors              9171 non-null   float64
 32  education_masters                9171 non-null   float64
 33  education_professional           9171 non-null   float64
 34  education_doctorate              9171 non-null   float64
 35  state                            9171 non-null   float64
 36  zipcode                          9171 non-null   float64
 37  year                             9171 non-null   float64
 38  education_none_perc              9171 non-null   float64
 39  education_high_school_perc       9171 non-null   float64
 40  education_ged_perc               9171 non-null   float64
 41  education_associates_perc        9171 non-null   float64
 42  education_bachelors_perc         9171 non-null   float64
 43  education_masters_perc           9171 non-null   float64
 44  education_professional_perc      9171 non-null   float64
 45  education_doctorate_perc         9171 non-null   float64
dtypes: float64(34), int64(5), object(7)
memory usage: 3.3+ MB

In [14]:
mask=pd.isnull(df.total_population)
df.loc[mask]

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,zipcode,year,education_none_perc,education_high_school_perc,education_ged_perc,education_associates_perc,education_bachelors_perc,education_masters_perc,education_professional_perc,education_doctorate_perc
14,AK,AK0021,2015,EAGLE PUBLIC LIBRARY,4TH & AMUNDSEN,EAGLE,99738,-141.201518,64.786619,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,AK,AK0031,2015,HOLLIS PUBLIC LIBRARY,NO. 1 HOLLIS CHILKAT ROAD,HOLLIS,99950,-133.075907,55.781881,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,AK,AK0033,2015,HOPE COMMUNITY LIBRARY,18487 A AVENUE,HOPE,99605,-149.445094,60.109417,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,AK,AK0117,2015,HYDER PUBLIC LIBRARY,50 MAIN STREET,HYDER,99923,-130.054261,55.951233,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,AK,AK0120,2015,INNOKO RIVER COMMUNITY/SCHOOL AND TRIBAL LIBRARY,101 PINE STREET,SHAGELUK,99665,-159.837595,62.682486,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8664,VT,VT0197,2015,HARTFORD,1587 MAPLE ST.,HARTFORD,5047,-72.322650,43.653187,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8665,VT,VT0198,2015,QUECHEE,1957 QUECHEE MAIN ST.,QUECHEE,5059,-72.421296,43.648139,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8668,VT,VT0208,2015,LYDIA TAFT PRATT,156 WEST ST.,WEST DUMMERSTON,5357,-72.613838,42.927354,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8669,VT,VT0209,2015,BELCHER MEMORIAL,4452 VT RTE. 107,GAYSVILLE,5746,-72.699770,43.778169,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8943,WI,WI0226,2015,TOWN HALL LIBRARY,N76 W31429 HWY. V V,NORTH LAKE,53064,-88.370465,43.158047,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df2= df.dropna(how="any")
df2

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,zipcode,year,education_none_perc,education_high_school_perc,education_ged_perc,education_associates_perc,education_bachelors_perc,education_masters_perc,education_professional_perc,education_doctorate_perc
0,AK,AK0001,2015,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,99556,-151.840007,59.779604,2,...,99556.0,2015.0,0.065051,1.210417,0.250912,0.325256,0.511117,0.153335,0.037172,0.011616
1,AK,AK0002,2015,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503,-149.876781,61.187677,2,...,99503.0,2015.0,0.472031,5.205152,1.183280,1.371238,2.588693,1.059399,0.395139,0.049125
2,AK,AK0003,2015,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,99744,-149.178635,64.343598,2,...,99744.0,2015.0,0.000000,0.022803,0.011401,0.019382,0.026223,0.017102,0.000000,0.000000
3,AK,AK0006,2015,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,99559,-161.802957,60.785755,2,...,99559.0,2015.0,0.033158,1.977038,0.451776,0.248684,0.772302,0.285987,0.095329,0.058026
4,AK,AK0007,2015,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652,-149.818403,61.546612,2,...,99652.0,2015.0,0.007282,1.117082,0.221377,0.273809,0.471884,0.122340,0.045149,0.007282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9236,WY,WY0019,2015,SUBLETTE COUNTY LIBRARY,155 S TYLER ST,PINEDALE,82941,-109.861281,42.865097,56,...,82941.0,2015.0,0.000000,1.114130,0.103034,0.429121,0.617074,0.235507,0.030571,0.000000
9237,WY,WY0020,2015,TETON COUNTY LIBRARY,125 VIRGINIAN LANE,JACKSON,83001,-110.779203,43.471780,56,...,83001.0,2015.0,0.049372,3.006325,0.517734,0.641830,5.941928,1.885458,0.360279,0.230845
9238,WY,WY0021,2015,UINTA COUNTY LIBRARY,701 MAIN ST,EVANSTON,82930,-110.963405,41.265975,56,...,82930.0,2015.0,0.035921,4.862555,0.949068,1.266684,2.384013,0.661701,0.260899,0.060498
9239,WY,WY0022,2015,WASHAKIE COUNTY LIBRARY,1019 COBURN AVE,WORLAND,82401,-107.955461,44.015771,56,...,82401.0,2015.0,0.087723,2.882326,0.474122,1.063119,1.591545,0.530515,0.139939,0.000000
9240,WY,WY0023,2015,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,82701,-104.202302,43.855671,56,...,82701.0,2015.0,0.065090,1.775512,0.339915,0.600275,0.857019,0.249512,0.032545,0.003616

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9171 entries, 0 to 9240
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   State                            9171 non-null   object
 1   Library ID                       9171 non-null   object
 2   Submission Year                  9171 non-null   int64
 3   Library Name                     9171 non-null   object
 4   Street Address                   9171 non-null   object
 5   City                             9171 non-null   object
 6   Zip Code                         9171 non-null   int64
 7   Longitude                        9171 non-null   float64
 8   Latitude                         9171 non-null   float64
 9   State Code                       9171 non-null   int64
 10  County Code                      9171 non-null   int64
 11  County                           9171 non-null   object
 12  County Population                9171 non-null   int64
 13  Print_Collection_Expenditures    9171 non-null   float64
 14  Digital_Collection_Expenditures  9171 non-null   float64
 15  Total Collection Expenditures    9171 non-null   float64
 16  Total Operating Expenditures     9171 non-null   float64
 17  Print Collection                 9171 non-null   float64
 18  Digital Collection               9171 non-null   float64
 19  Audio Collection                 9171 non-null   float64
 20  Library Visits                   9171 non-null   float64
 21  Registered Users                 9171 non-null   float64
 22  Name                             9171 non-null   object
 23  median_household_income          9171 non-null   float64
 24  total_population                 9171 non-null   float64
 25  median_age                       9171 non-null   float64
 26  per_capita                       9171 non-null   float64
 27  education_none                   9171 non-null   float64
 28  education_high_school            9171 non-null   float64
 29  education_ged                    9171 non-null   float64
 30  education_associates             9171 non-null   float64
 31  education_bachelors              9171 non-null   float64
 32  education_masters                9171 non-null   float64
 33  education_professional           9171 non-null   float64
 34  education_doctorate              9171 non-null   float64
 35  state                            9171 non-null   float64
 36  zipcode                          9171 non-null   float64
 37  year                             9171 non-null   float64
 38  education_none_perc              9171 non-null   float64
 39  education_high_school_perc       9171 non-null   float64
 40  education_ged_perc               9171 non-null   float64
 41  education_associates_perc        9171 non-null   float64
 42  education_bachelors_perc         9171 non-null   float64
 43  education_masters_perc           9171 non-null   float64
 44  education_professional_perc      9171 non-null   float64
 45  education_doctorate_perc         9171 non-null   float64
dtypes: float64(34), int64(5), object(7)
memory usage: 3.3+ MB

In [ ]:
#save merged data to csv
df2.to_csv("official.csv", encoding="utf-8", index=False)