In [2]:
import pandas as pd

In [4]:
file_path = "census_data.csv"

# Read the mouse data and the study results
census_df = pd.read_csv(file_path)
census_df.head()

,Name,median_household_income,total_population,median_age,per_capita,median_gross_rent,median_home_value,education_none,education_high_school,education_ged,education_associates,education_bachelors,education_masters,education_professional,education_doctorate,state,zipcode,year
0,ZCTA5 00601,17113.0,14361.0,41.9,7493.0,383.0,83900.0,455.0,2952.0,199.0,1141.0,1729.0,155.0,30.0,46.0,72,601,2019
1,ZCTA5 00602,37751.0,16807.0,42.9,9694.0,400.0,85300.0,822.0,6127.0,797.0,2971.0,4001.0,1124.0,134.0,260.0,72,602,2019
2,ZCTA5 00603,47081.0,16049.0,42.1,11259.0,433.0,118400.0,804.0,8788.0,984.0,2525.0,5561.0,1580.0,342.0,223.0,72,603,2019
3,ZCTA5 00606,6392.0,12119.0,44.3,6093.0,275.0,80800.0,236.0,1303.0,154.0,204.0,231.0,116.0,0.0,0.0,72,606,2019
4,ZCTA5 00610,26686.0,19898.0,42.7,10572.0,427.0,87600.0,744.0,5138.0,596.0,2132.0,2799.0,649.0,47.0,63.0,72,610,2019

In [5]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264960 entries, 0 to 264959
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Name                     264960 non-null  object
 1   median_household_income  264960 non-null  float64
 2   total_population         263962 non-null  float64
 3   median_age               264960 non-null  float64
 4   per_capita               262723 non-null  float64
 5   median_gross_rent        264512 non-null  float64
 6   median_home_value        264129 non-null  float64
 7   education_none           264960 non-null  float64
 8   education_high_school    264960 non-null  float64
 9   education_ged            264960 non-null  float64
 10  education_associates     264960 non-null  float64
 11  education_bachelors      264960 non-null  float64
 12  education_masters        264960 non-null  float64
 13  education_professional   264960 non-null  float64
 14  education_doctorate      264960 non-null  float64
 15  state                    264960 non-null  int64
 16  zipcode                  264960 non-null  int64
 17  year                     264960 non-null  int64
dtypes: float64(14), int64(3), object(1)
memory usage: 36.4+ MB

In [6]:
census_df.describe()

,median_household_income,total_population,median_age,per_capita,median_gross_rent,median_home_value,education_none,education_high_school,education_ged,education_associates,education_bachelors,education_masters,education_professional,education_doctorate,state,zipcode,year
count,264960.000000,2.639620e+05,2.649600e+05,2.627230e+05,2.645120e+05,2.641290e+05,264960.000000,264960.000000,264960.000000,264960.000000,264960.000000,264960.000000,264960.000000,264960.000000,264960.000000,264960.000000,264960.000000
mean,9686.955582,-3.245475e+07,-1.048204e+07,-6.562413e+06,-1.120723e+08,-3.941874e+07,91.975615,1535.712043,256.223041,527.360704,1216.038176,523.541621,129.817169,85.769709,29.892542,49666.334209,2015.500000
std,14287.965161,1.435905e+08,8.293497e+07,6.595648e+07,2.493098e+08,1.576044e+08,237.677878,2178.706579,391.622236,791.663235,2169.405569,1018.029887,311.486408,219.087901,15.456916,27564.561645,2.291292
min,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,601.000000,2012.000000
25%,714.000000,3.838700e+04,3.630000e+01,2.032800e+04,5.220000e+02,8.350000e+04,0.000000,153.000000,18.000000,38.000000,49.000000,15.000000,0.000000,0.000000,18.000000,26634.750000,2013.750000
50%,2803.000000,4.950500e+04,4.140000e+01,2.520300e+04,6.960000e+02,1.256000e+05,13.000000,573.000000,83.000000,160.000000,221.000000,85.000000,13.000000,8.000000,30.000000,49739.000000,2015.500000
75%,13180.000000,6.324375e+04,4.660000e+01,3.171200e+04,9.200000e+02,2.025000e+05,76.000000,2051.000000,330.000000,693.000000,1334.000000,533.000000,105.000000,67.000000,42.000000,72123.500000,2017.250000
max,128294.000000,2.500010e+05,1.051000e+02,5.014330e+05,3.501000e+03,2.000001e+06,5382.000000,28190.000000,5162.000000,7826.000000,26292.000000,17950.000000,6972.000000,4894.000000,72.000000,99929.000000,2019.000000

In [10]:
#get rid of populations with less 0 individuals (census data places -66666666.0 as a null value)
mask= census_df.total_population >=0
census_df2= census_df.loc[mask]
census_df2

,Name,median_household_income,total_population,median_age,per_capita,median_gross_rent,median_home_value,education_none,education_high_school,education_ged,education_associates,education_bachelors,education_masters,education_professional,education_doctorate,state,zipcode,year
0,ZCTA5 00601,17113.0,14361.0,41.9,7493.0,383.0,83900.0,455.0,2952.0,199.0,1141.0,1729.0,155.0,30.0,46.0,72,601,2019
1,ZCTA5 00602,37751.0,16807.0,42.9,9694.0,400.0,85300.0,822.0,6127.0,797.0,2971.0,4001.0,1124.0,134.0,260.0,72,602,2019
2,ZCTA5 00603,47081.0,16049.0,42.1,11259.0,433.0,118400.0,804.0,8788.0,984.0,2525.0,5561.0,1580.0,342.0,223.0,72,603,2019
3,ZCTA5 00606,6392.0,12119.0,44.3,6093.0,275.0,80800.0,236.0,1303.0,154.0,204.0,231.0,116.0,0.0,0.0,72,606,2019
4,ZCTA5 00610,26686.0,19898.0,42.7,10572.0,427.0,87600.0,744.0,5138.0,596.0,2132.0,2799.0,649.0,47.0,63.0,72,610,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264955,ZCTA5 97035,23820.0,72883.0,41.9,44637.0,1138.0,423400.0,15.0,1513.0,258.0,801.0,6364.0,2620.0,1169.0,584.0,41,97035,2012
264956,ZCTA5 97037,882.0,41048.0,50.8,19696.0,830.0,170800.0,0.0,172.0,57.0,32.0,99.0,59.0,0.0,2.0,41,97037,2012
264957,ZCTA5 97038,15265.0,54225.0,35.7,23848.0,843.0,242000.0,109.0,2368.0,526.0,909.0,733.0,360.0,77.0,19.0,41,97038,2012
264958,ZCTA5 97039,411.0,33056.0,46.4,21714.0,685.0,130700.0,1.0,65.0,20.0,29.0,37.0,15.0,2.0,0.0,41,97039,2012
264959,ZCTA5 97040,1254.0,54155.0,37.9,23847.0,1034.0,285200.0,0.0,74.0,31.0,77.0,182.0,80.0,7.0,48.0,41,97040,2012

In [9]:
#number of rows dropped
264960-251091

13869

In [11]:
census_df2.describe()

,median_household_income,total_population,median_age,per_capita,median_gross_rent,median_home_value,education_none,education_high_school,education_ged,education_associates,education_bachelors,education_masters,education_professional,education_doctorate,state,zipcode,year
count,251091.000000,251091.000000,2.510910e+05,251049.000000,2.506620e+05,2.504710e+05,251091.000000,251091.000000,251091.000000,251091.000000,251091.000000,251091.000000,251091.000000,251091.000000,251091.000000,251091.000000,251091.000000
mean,10201.002776,55146.585477,-7.923230e+03,27975.738748,-8.357794e+07,-1.362034e+07,96.980660,1618.663656,269.743993,556.006882,1282.439948,552.150149,136.922841,90.468022,29.870362,49587.530875,2015.462980
std,14502.350445,23884.869700,2.304369e+06,12600.489628,2.207579e+08,9.493813e+07,243.166072,2208.442263,397.670898,803.518090,2209.517992,1038.256999,318.459397,224.116377,15.397119,27452.350391,2.294982
min,4.000000,2499.000000,-6.666667e+08,409.000000,-6.666667e+08,-6.666667e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,601.000000,2012.000000
25%,880.000000,40204.500000,3.680000e+01,20674.000000,5.550000e+02,8.740000e+04,0.000000,192.000000,24.000000,48.000000,63.000000,20.000000,0.000000,0.000000,18.000000,27041.000000,2013.000000
50%,3215.000000,50580.000000,4.150000e+01,25411.000000,7.140000e+02,1.311000e+05,16.000000,650.000000,95.000000,186.000000,259.000000,100.000000,16.000000,10.000000,30.000000,49806.000000,2015.000000
75%,14313.000000,64167.000000,4.650000e+01,31860.000000,9.370000e+02,2.082000e+05,84.000000,2201.000000,354.000000,750.000000,1469.000000,590.000000,118.000000,75.000000,42.000000,71845.500000,2017.000000
max,128294.000000,250001.000000,1.051000e+02,465868.000000,3.501000e+03,2.000001e+06,5382.000000,28190.000000,5162.000000,7826.000000,26292.000000,17950.000000,6972.000000,4894.000000,72.000000,99929.000000,2019.000000

In [13]:
#get rid of "null" values from median_age
mask = census_df2.median_age >=0
census_df3= census_df2.loc[mask]
census_df3

,Name,median_household_income,total_population,median_age,per_capita,median_gross_rent,median_home_value,education_none,education_high_school,education_ged,education_associates,education_bachelors,education_masters,education_professional,education_doctorate,state,zipcode,year
0,ZCTA5 00601,17113.0,14361.0,41.9,7493.0,383.0,83900.0,455.0,2952.0,199.0,1141.0,1729.0,155.0,30.0,46.0,72,601,2019
1,ZCTA5 00602,37751.0,16807.0,42.9,9694.0,400.0,85300.0,822.0,6127.0,797.0,2971.0,4001.0,1124.0,134.0,260.0,72,602,2019
2,ZCTA5 00603,47081.0,16049.0,42.1,11259.0,433.0,118400.0,804.0,8788.0,984.0,2525.0,5561.0,1580.0,342.0,223.0,72,603,2019
3,ZCTA5 00606,6392.0,12119.0,44.3,6093.0,275.0,80800.0,236.0,1303.0,154.0,204.0,231.0,116.0,0.0,0.0,72,606,2019
4,ZCTA5 00610,26686.0,19898.0,42.7,10572.0,427.0,87600.0,744.0,5138.0,596.0,2132.0,2799.0,649.0,47.0,63.0,72,610,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264955,ZCTA5 97035,23820.0,72883.0,41.9,44637.0,1138.0,423400.0,15.0,1513.0,258.0,801.0,6364.0,2620.0,1169.0,584.0,41,97035,2012
264956,ZCTA5 97037,882.0,41048.0,50.8,19696.0,830.0,170800.0,0.0,172.0,57.0,32.0,99.0,59.0,0.0,2.0,41,97037,2012
264957,ZCTA5 97038,15265.0,54225.0,35.7,23848.0,843.0,242000.0,109.0,2368.0,526.0,909.0,733.0,360.0,77.0,19.0,41,97038,2012
264958,ZCTA5 97039,411.0,33056.0,46.4,21714.0,685.0,130700.0,1.0,65.0,20.0,29.0,37.0,15.0,2.0,0.0,41,97039,2012
264959,ZCTA5 97040,1254.0,54155.0,37.9,23847.0,1034.0,285200.0,0.0,74.0,31.0,77.0,182.0,80.0,7.0,48.0,41,97040,2012

In [15]:
#number of rows dropped
251091-251088

3

In [33]:
#get rid of "null" values from median_gross_rent
mask = census_df3.median_gross_rent <=0
census_df4=census_df3.loc[mask]
census_df4

,Name,median_household_income,total_population,median_age,per_capita,median_gross_rent,median_home_value,education_none,education_high_school,education_ged,education_associates,education_bachelors,education_masters,education_professional,education_doctorate,state,zipcode,year
86,ZCTA5 00786,360.0,37552.0,54.0,13462.0,-666666666.0,103000.0,0.0,245.0,0.0,0.0,0.0,24.0,0.0,0.0,72,786,2019
91,ZCTA5 00906,191.0,106518.0,35.6,63599.0,-666666666.0,357700.0,0.0,0.0,0.0,14.0,43.0,30.0,76.0,14.0,72,906,2019
133,ZCTA5 01003,11357.0,2499.0,19.9,4378.0,-666666666.0,-666666666.0,0.0,5.0,14.0,10.0,13.0,4.0,0.0,0.0,25,1003,2019
136,ZCTA5 01008,1140.0,76333.0,54.0,40146.0,-666666666.0,243700.0,0.0,275.0,23.0,100.0,208.0,79.0,23.0,3.0,25,1008,2019
137,ZCTA5 01009,261.0,80714.0,53.4,35649.0,-666666666.0,205300.0,11.0,12.0,0.0,12.0,88.0,0.0,0.0,0.0,25,1009,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264888,ZCTA5 96773,238.0,95069.0,48.4,24063.0,-666666666.0,455000.0,0.0,7.0,0.0,18.0,25.0,0.0,10.0,35.0,15,96773,2012
264889,ZCTA5 96774,408.0,47902.0,33.2,16732.0,-666666666.0,544100.0,31.0,28.0,0.0,78.0,53.0,0.0,0.0,0.0,15,96774,2012
264923,ZCTA5 96860,924.0,35227.0,22.7,27572.0,-666666666.0,-666666666.0,2.0,82.0,0.0,72.0,14.0,3.0,0.0,0.0,15,96860,2012
264948,ZCTA5 97028,133.0,250001.0,59.6,120317.0,-666666666.0,337900.0,0.0,0.0,0.0,0.0,35.0,29.0,13.0,0.0,41,97028,2012
264953,ZCTA5 97033,43.0,63333.0,63.2,40737.0,-666666666.0,170800.0,0.0,4.0,0.0,3.0,20.0,1.0,0.0,0.0,41,97033,2012

In [18]:
#number of rows dropped
251088-219237

31851

In [24]:
#get rid of "null" values from median_home_value
mask= census_df4.median_home_value >=0
census_df5= census_df4.loc[mask]
census_df5

,Name,median_household_income,total_population,median_age,per_capita,median_gross_rent,median_home_value,education_none,education_high_school,education_ged,education_associates,education_bachelors,education_masters,education_professional,education_doctorate,state,zipcode,year
0,ZCTA5 00601,17113.0,14361.0,41.9,7493.0,383.0,83900.0,455.0,2952.0,199.0,1141.0,1729.0,155.0,30.0,46.0,72,601,2019
1,ZCTA5 00602,37751.0,16807.0,42.9,9694.0,400.0,85300.0,822.0,6127.0,797.0,2971.0,4001.0,1124.0,134.0,260.0,72,602,2019
2,ZCTA5 00603,47081.0,16049.0,42.1,11259.0,433.0,118400.0,804.0,8788.0,984.0,2525.0,5561.0,1580.0,342.0,223.0,72,603,2019
3,ZCTA5 00606,6392.0,12119.0,44.3,6093.0,275.0,80800.0,236.0,1303.0,154.0,204.0,231.0,116.0,0.0,0.0,72,606,2019
4,ZCTA5 00610,26686.0,19898.0,42.7,10572.0,427.0,87600.0,744.0,5138.0,596.0,2132.0,2799.0,649.0,47.0,63.0,72,610,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264955,ZCTA5 97035,23820.0,72883.0,41.9,44637.0,1138.0,423400.0,15.0,1513.0,258.0,801.0,6364.0,2620.0,1169.0,584.0,41,97035,2012
264956,ZCTA5 97037,882.0,41048.0,50.8,19696.0,830.0,170800.0,0.0,172.0,57.0,32.0,99.0,59.0,0.0,2.0,41,97037,2012
264957,ZCTA5 97038,15265.0,54225.0,35.7,23848.0,843.0,242000.0,109.0,2368.0,526.0,909.0,733.0,360.0,77.0,19.0,41,97038,2012
264958,ZCTA5 97039,411.0,33056.0,46.4,21714.0,685.0,130700.0,1.0,65.0,20.0,29.0,37.0,15.0,2.0,0.0,41,97039,2012
264959,ZCTA5 97040,1254.0,54155.0,37.9,23847.0,1034.0,285200.0,0.0,74.0,31.0,77.0,182.0,80.0,7.0,48.0,41,97040,2012

In [25]:
#number of rows dropped
219237-216874

2363

In [26]:
census_df5.describe()

,median_household_income,total_population,median_age,per_capita,median_gross_rent,median_home_value,education_none,education_high_school,education_ged,education_associates,education_bachelors,education_masters,education_professional,education_doctorate,state,zipcode,year
count,216874.000000,216874.000000,216874.000000,216874.000000,216874.000000,2.168740e+05,216874.000000,216874.000000,216874.000000,216874.000000,216874.000000,216874.000000,216874.000000,216874.000000,216874.000000,216874.000000,216874.000000
mean,11715.600266,55389.931896,41.303913,28100.855506,846.131708,1.848771e+05,111.779688,1856.391186,309.214051,638.574172,1476.189875,635.576846,157.746470,104.217098,29.621052,49427.375531,2015.454808
std,15047.656438,23007.145564,7.186589,12110.722270,347.652923,1.611531e+05,258.526871,2286.670641,413.900423,834.774617,2318.160085,1093.748631,337.894887,238.202375,15.391382,27507.982633,2.297165
min,18.000000,2499.000000,8.900000,3037.000000,99.000000,9.999000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,601.000000,2012.000000
25%,1436.000000,40723.250000,36.600000,20942.000000,620.000000,9.190000e+04,3.000000,314.000000,39.000000,81.000000,105.000000,36.000000,3.000000,0.000000,18.000000,27587.000000,2013.000000
50%,4669.000000,50795.000000,41.100000,25551.000000,755.000000,1.368000e+05,24.000000,891.000000,134.000000,263.000000,387.000000,151.000000,26.000000,16.000000,29.000000,49534.000000,2015.000000
75%,17293.000000,64167.000000,45.500000,31880.000000,977.000000,2.145000e+05,105.000000,2616.000000,423.000000,905.000000,1898.000000,763.000000,154.000000,98.000000,42.000000,71657.250000,2017.000000
max,128294.000000,250001.000000,86.300000,224823.000000,3501.000000,2.000001e+06,5382.000000,28190.000000,5162.000000,7826.000000,26292.000000,17950.000000,6972.000000,4894.000000,72.000000,99929.000000,2019.000000

In [29]:
census_df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216874 entries, 0 to 264959
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Name                     216874 non-null  object
 1   median_household_income  216874 non-null  float64
 2   total_population         216874 non-null  float64
 3   median_age               216874 non-null  float64
 4   per_capita               216874 non-null  float64
 5   median_gross_rent        216874 non-null  float64
 6   median_home_value        216874 non-null  float64
 7   education_none           216874 non-null  float64
 8   education_high_school    216874 non-null  float64
 9   education_ged            216874 non-null  float64
 10  education_associates     216874 non-null  float64
 11  education_bachelors      216874 non-null  float64
 12  education_masters        216874 non-null  float64
 13  education_professional   216874 non-null  float64
 14  education_doctorate      216874 non-null  float64
 15  state                    216874 non-null  int64
 16  zipcode                  216874 non-null  int64
 17  year                     216874 non-null  int64
dtypes: float64(14), int64(3), object(1)
memory usage: 31.4+ MB

In [32]:
census_df5

,Name,median_household_income,total_population,median_age,per_capita,median_gross_rent,median_home_value,education_none,education_high_school,education_ged,education_associates,education_bachelors,education_masters,education_professional,education_doctorate,state,zipcode,year
0,ZCTA5 00601,17113.0,14361.0,41.9,7493.0,383.0,83900.0,455.0,2952.0,199.0,1141.0,1729.0,155.0,30.0,46.0,72,601,2019
1,ZCTA5 00602,37751.0,16807.0,42.9,9694.0,400.0,85300.0,822.0,6127.0,797.0,2971.0,4001.0,1124.0,134.0,260.0,72,602,2019
2,ZCTA5 00603,47081.0,16049.0,42.1,11259.0,433.0,118400.0,804.0,8788.0,984.0,2525.0,5561.0,1580.0,342.0,223.0,72,603,2019
3,ZCTA5 00606,6392.0,12119.0,44.3,6093.0,275.0,80800.0,236.0,1303.0,154.0,204.0,231.0,116.0,0.0,0.0,72,606,2019
4,ZCTA5 00610,26686.0,19898.0,42.7,10572.0,427.0,87600.0,744.0,5138.0,596.0,2132.0,2799.0,649.0,47.0,63.0,72,610,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264955,ZCTA5 97035,23820.0,72883.0,41.9,44637.0,1138.0,423400.0,15.0,1513.0,258.0,801.0,6364.0,2620.0,1169.0,584.0,41,97035,2012
264956,ZCTA5 97037,882.0,41048.0,50.8,19696.0,830.0,170800.0,0.0,172.0,57.0,32.0,99.0,59.0,0.0,2.0,41,97037,2012
264957,ZCTA5 97038,15265.0,54225.0,35.7,23848.0,843.0,242000.0,109.0,2368.0,526.0,909.0,733.0,360.0,77.0,19.0,41,97038,2012
264958,ZCTA5 97039,411.0,33056.0,46.4,21714.0,685.0,130700.0,1.0,65.0,20.0,29.0,37.0,15.0,2.0,0.0,41,97039,2012
264959,ZCTA5 97040,1254.0,54155.0,37.9,23847.0,1034.0,285200.0,0.0,74.0,31.0,77.0,182.0,80.0,7.0,48.0,41,97040,2012

In [34]:
#Save as a csv
census_df3.to_csv("census_data_cleaned.csv", encoding="utf-8", index=False)